* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

ul, ol {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

#first-section {
  background: #00B4DB;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 95vh;
}

#mood-smileys {
}

#first-mood-smiley {
  grid-column: 3/4;
}

#second-mood-smiley {
  grid-column: 4/5;
}

#first-mood-smiley img, #second-mood-smiley img {
  max-width: 200px;
}

#first-mood-smiley:hover {
  cursor: pointer;
}

#secondary-section {
  background: #f9f6f0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  text-align: center;
  padding-top: 50px;
  color: #314d69;
}

#second-section-lead {
  grid-column: 3/7;
  padding-bottom: 50px;
  font-size: 1.5rem;
}

.card-inner {
  padding: 15% 10%;
}

.card-container img {
  max-width: 200px;
}

#personal-feelings {
  grid-column: 2/5;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-radius: 5px 0 0 5px;
  transition: all .1s ease; 
}


#world-feelings {
  grid-column: 5/8;
  border: 1px solid lightgrey;
  border-radius: 0 5px 5px 0;
  transition: all .1s ease; 
}

#personal-feelings:hover, #world-feelings:hover {
  box-shadow: 0 5px 6px -6px black;
  transition: all .1s ease; 
}

.card-header-lead {
  font-size: 1.2rem;
}

.card-lead {
  text-align: start;
  padding: 5% 0px;
}

.card-lead ul {
  list-style: none;
  padding: 10px;
  line-height: 35px;
}

.card-paragraph {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #ffefef;
}

a:visited {
  text-decoration: none;
  color: #ffefef;
}

#navigation-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
  padding-top: 1rem;
  align-items: center;
  text-align: start;
}

#navigation-menu #login-links {
  list-style-type: none;
  color: #ffefef;
  grid-column: 6/7;
}

#login-links-icons-small-screens {
  display: none;
  list-style-type: none;
  color: #ffefef;
  grid-column: 7/8;
}
#signup-btn-icon:hover {
  opacity: 0.7;
}
#login-btn-icon:hover {
  opacity: 0.7;
}

#navigation-menu ul li {
  display: inline;
  font-size: 1rem;
}

#nav-links {
  grid-column: 4/5;
}

#nav-logo {
  color: #ffefef;
  grid-column: 3/4;
}

#header {
  margin: 0 auto;
  margin-top: 10vh;
  width: 60%;
  text-align: center;
  color: #ffefef;
}

#main-header {
  font-size: 4rem;
}

#enter-mood-picker {
  margin: 0 auto;
  margin-top: 50px;
  width: 45%;
  max-width: 250px;
  height: 3.5rem;
  border: 2px solid #ffefef;
  border-radius: 10px;
  background: transparent;
  color: #ffefef;
  font-size: 1rem;
  cursor: pointer;
  transition: .3s;
}

#enter-mood-picker:hover {
  transition: .3s;
  width: 50%;
  max-width: 260px;
}

.btn {
  width: 3rem;
  height: 2rem;
  padding: 10px;
  border-radius: 10px;
}

.btn-menu {
  background-color: transparent;
  color: #ffefef;
  border: 1.5px solid #ffefef;
}

.btn:hover {
  opacity: 0.7;
}

.btn-card {
  background: #DB2763;
  color: #ffefef;
  padding: 5% 10%;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  transition: all .2s ease; 
  margin-top: 50px;
}

.btn-card:hover {
  cursor: pointer;
  box-shadow: 0px 4px 10px -6px black;
  transition: all .1s ease; 
}

#footer {
  padding-top: 75px;
  background: #f9f6f0;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  font-size: 0.8rem;
}

#footer a {
  color: #314d69;
}

#footer ul {
  list-style: none;
}

#footer ul li {
  padding-top: 7px;
}

.footer-links {
  grid-row: 2/4;
}

#footer-us-links {
  grid-column: 3/4;
}

#footer-service-links {
  grid-column: 4/5;
}

#footer-personal-links {
  grid-column: 5/6;
}

#footer ul li:hover {
  opacity: 0.7;
}

.darkred {
  color: #C1292E;
}

.icon-padding {
  padding-right: 10px;
}


@media screen and (max-width: 1280px) {
  #navigation-menu #login-links {
    grid-column: 6/8
  }
  #nav-logo {
    grid-column: 2/3;
  }
}

@media screen and (max-width: 1150px) {

  .card-inner {
    padding: 15% 18%;
  }

  #personal-feelings {
    grid-column: 3/7;
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
  }
  #world-feelings {
    grid-column: 3/7;

    border-radius: 0 0 5px 5px;
  }
}

@media screen and (max-width: 800px) {
  #login-links {
    display: none;
  }
  #login-links-icons-small-screens {
    display: inline;
  }
  #navigation-menu ul li {
    display: inline;
    font-size: 1.5rem;
  }
}